
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.82.0">
    <title>Fixed top navbar example · Bootstrap v5.0</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/navbar-fixed/">

    

    <!-- Bootstrap core CSS -->
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

  

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="/css/styles.css" rel="stylesheet">
  </head>
  <body>
    
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Market Place</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/main">Main</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/cart">View Cart</a>
        </li>
        
      </ul>
      <form class="d-flex">
        <a href="/logout" class="btn btn-outline-success" type="submit">Logout</a>
      </form>
    </div>
  </div>
</nav>
<main class="container">
    <form action="/auth/edit" method="POST"  class="needs-validation" novalidate>
        <div class="form-group">
            <label for="title">Username</label>
            <input class="form-control" type="text" placeholder="Item Name" id="title" name="username" value="<%= name %>">
        </div>
        <div class="form-group">
            <label for="title">Logo:</label>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="type" id="inlineRadio1" value="user1.jpg" checked>
                <label class="form-check-label" for="inlineRadio1"><img class="plo" src="/css/user1.jpg" alt="pic1" height="40" width="40"></label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="type" id="inlineRadio2" value="user2.jpg">
                <label class="form-check-label" for="inlineRadio1"><img class="plo" src="/css/user2.jpg" alt="pic1" height="40" width="40"></label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="type" id="inlineRadio2" value="user3.jpg">
                <label class="form-check-label" for="inlineRadio1"><img class="plo" src="/css/user3.jpg" alt="pic1" height="40" width="40"></label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="type" id="inlineRadio2" value="user4.png">
                <label class="form-check-label" for="inlineRadio1"><img class="plo" src="/css/user4.png" alt="pic1" height="40" width="40"></label>
              </div>
        </div>
        <div class="form-group">
            <label for="FormControlNumber">Email:</label>
            <input type="email" class="form-control" id="FormControlNumber" rows="3" name="email" value="<%= email %>">
            
        </div>
        <div class="add">
          <% if(message){ %>
            <div class="invalid"><%= message %></div>
        <% } %>
            <button type="submit" class="btn btn-dark">Save</button>
        </div>
    </form> 
</main>
<script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>